:root {
  --purpleColor: #231F42;
  --pinkColor: #F56B9A; 
  --greenColor: #37AEAB;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Sansita One';
  src: url('../src/assets/font/sansita-one/SansitaOne.woff') format("woff"),
  url('../src/assets/font/sansita-one/SansitaOne.woff2') format('woff2');
  }